/* Стили для Задания 3 */
#gallery {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  column-gap: 20px;
}

.gallery__item {
  list-style: none;
}

.gallery__image {
  display: block;
}

/* Стили для Задания 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}